*{
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    
   color: #FFFFFF;
    background: url("https://images.unsplash.com/photo-1473396413399-6717ef7c4093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 20px;
  margin: 0 auto;
  font-family: 'Rubik Mono One', cursive;
  overflow: auto;
 
}

.page{
    margin: 0 auto;
    padding: 0;
}

.main-title{
    text-align: center;
    background: rgba(45, 52, 54,.4);
    padding: 10px;
    margin: 20px;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.pick-band {
    display: flex; 
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(45, 52, 54,.4);
    width: 15%;
    margin: 0 10px;
}

.pick-band img {
    width: 200px;
    height: 200px;
}

p{
    text-align: center;
    font-size: 22px;
    
}

h2{
    text-align: center;
}

.display {
    display:none;
}


#selectedCharacter{
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

button{
    background: #555555;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Rubik Mono One', cursive;
    margin: 20px auto;
}

.no-display{
    display: none;
}
