*{
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    color: rgba(243, 241, 239, .77);
    background: url("/assests/pictures/sam-moghadam-DvFuehUNPD8-unsplash.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 20px;
  margin: 0 auto;
  font-family: 'Rubik Mono One', cursive;
 
}

.page{
    margin: 0 auto;
    padding: 0;
}

.main-title{
    text-align: center;
    background: rgba(45, 52, 54,.4);
    padding: 10px;
    margin: 20px;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
}

.pick-band {
    display: flex; 
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(45, 52, 54,.4);
    width: 15%;
    margin: 0 10px;
}

p{
    text-align: center;
    font-size: 18px;
    
}

